/* Some Colors */
:root {
  --text-header: #2d2327;
  --text-header-alt: #A1ABB0;
  --text-n: #45364B;
  --background: #B5C2B7;
  --border-color: #62466B;
  --shadow: rgba(0, 0, 0, 0.075) 0 10px 15px -3px, 
    #a1abb073 0 1px 3px -1px;
}

/* Some Fonts */
@font-face {
  font-family: Bebas-Regular;
  src: url('../assets/font/BebasNeue-Regular.otf');
}
:root {
  --font-main: Bebas-Regular
}

.home-header {
  color: var(--text-header-alt);
  
  font-family: var(--font-main);
  font-size: 60px;
  line-height: 75px;
  white-space: pre-line;
}

.home-subheader {
  color: var(--text-header);
  font-family: var(--font-main);
  font-size: 60px;
  line-height: 75px;
}

.home-text {
  font-family: var(--font-main);
  white-space: pre-line;
}

/* About Me Card */
.aboutme {
  background-color: var(--background);
  box-shadow: var(--shadow);
  padding: 2px;
  min-width: 25%;
  max-width: 350px;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  border-color: var(--border-color) 4;
  display: flex;
}

.aboutme-header {
  color: var(--text-header);
  text-align: left;
  font-family: var(--font-main);
  font-size: 3cap;
  padding: 10px;
}

.aboutme-text {
  color: var(--text-n);
  font-family: var(--font-main);
}

/* Inspirations Card */
.inspirations {
  background-color: var(--background);
  box-shadow: var(--shadow);
  padding: 2px;
  min-width: 25%;
  max-width: 350px; 
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  border-color: var(--border-color) 4;
}

.inspirations-header {
  color: var(--text-header);
  text-align: left;
  font-family: var(--font-main);
  font-size: 3cap;
  padding: 10px;
}

.inspirations-text {
  color: var(--text-n);
  font-family: var(--font-main);
  text-align: right;
}

/* Navigation */
.navbar .btn {
  text-decoration: none;
  user-select: none;
}

.navbar .btn:focus,
.navbar .btn:active {
  text-decoration: none;
  box-shadow: none;
  outline: none;
}

.navbutton:hover {
  box-shadow: inset var(--border-color) 0 6px 5px -7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.navbar {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.navbutton {
  padding: 20px;
  color: var(--text-n);
  font-family: var(--font-main);
  font-size: 50px;
  line-height: 2;
  padding-top: 0.4em;
  padding-bottom: 10px;
  transition: box-shadow 0.2s ease;
}

.homebar .btn{
  text-decoration: none;
  user-select: none;
}
.homebutton {
  padding-left: 20px;
  color: var(--text-n);
  font-family: var(--font-main);
  font-size: 50px;
  line-height: 2;
  padding-top: 0.4em;
  padding-bottom: 10px;
  transition: box-shadow 0.2s ease;
}
