:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #45364B;
  --bg-alt: #8C93A8;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  margin: 0 auto;
}

#root {
  margin: 0 auto;
  
}

#App {
  margin: auto;
  max-width: 95%;
  min-height: 100svh;
}

#top-bar {
  margin: 0, auto;
  max-height: 10svh;
  background-color: var(--bg-alt);
  padding-bottom: 20px;
  margin-bottom: 50px;
  position: sticky;
  overflow: hidden;
  top: 0;
}

#cardspace {
  margin: 0 auto;
  max-width: 95%;
}

#left-cards {
  float: left;
  min-width: 20%;
  max-width: 40%;
}

#mainline {
  margin: 0 auto;
  text-align: center;
  max-width: 60%;
}

#right-cards {
  float: right;
  min-width: 20%;
  max-width: 40%;
  
}